* {
    color: black;
}

body {
    background-color: black;
    color: white;
}

.intro {
    text-align: center;
    border: 2px solid darkred;
    border-radius: 10px;
    margin-bottom: 10px;
}

.intro-pic {
    height: 98%;
    width: 75%;
    margin: 2px 0px 2px 50px;
    border-radius: 10px;
}

.creates-div {

    margin-top: 10px;
}

.feat {
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid darkred;
    border-radius: 10px;
    width: 100%;
}

.half-width {
    width: 48%;
    float: left;
    height: 500px;
}

div.product {
    margin-top: 0;
    margin-bottom: 10px;
    border: 2px solid darkred;
    border-radius: 10px;
    text-align: center;
    height: 120px;
    display: flex;
}

div.product-img {
    margin-left: 15px;
    height: 100%;
    width: 33.33%;    
   
}

#pic {
    border-radius: 5px;
    margin-top: 10px;
    width: 60%;
    height: 80%;
}

#productdiv1 {
     
    width: 33%;
}

#productdiv2 {
    
    width:33%;
    color: yellow;
}

#productdiv3 {

    width:33%;
    margin-top: 15px;
}



.side-by-side-container {
    height: 500px;
    border: 2px solid darkred;
    border-radius: 10px;
    
    
    
}



button.info-button {
        background-color: forestgreen;
        margin-top: 30px;
        border-radius:5px;
        
}

button.update-button {
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
}

.creates {
    background-color: forestgreen;
    margin-bottom: 4px;
    border-radius: 5px;
}


.delete-button {
    background-color: #fe0000;
    margin-top: 30px;
    border-radius: 5px;
    
    
}

.deleted {

    color:aquamarine;
}

.featbox {
    margin-top:10px;
}

.updates {
    background-color: #1b6ec2;
    border-radius: 5px;
}

.italian-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://t4.ftcdn.net/jpg/02/28/52/59/360_F_228525906_2UbyAzLESIy42de9meVjXkdMzueGoIqg.jpg')
}


