<div class="italian-background">
    <div class="intro">
        <h1>Johnnie's Pizzeria</h1>
           
    </div>
   
    <div class="side-by-side-container">
        <div class="half-width">
            <img  class="intro-pic"  src="https://images.unsplash.com/photo-1593504049359-74330189a345?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGl6emF8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" width: 10% height:10%
            alt="Cheese Pizza">      
        </div>
        <div class="description half-width">
            <h3 id="center">
                Johnnie's Grind
            </h3>
            <p id="center" > Welcome <br/>
                We hope you enjoy our fresh ingredients! 10 years ago we were slinging pizzas out of our cousin Joey's basement!<br/><br/>
                Now we have over 20 pizza parlors in the region! We've got the best menu around! Stop by and 
                try our fresh ingredients today!
            </p>
        </div>
    </div>
   
    <div class="review feat creates-div">
        <p id="center">
            Would you like to create a new Product?
        </p>
            
            
            <form action="/Product/CreateProduct">
                <button class="creates"> Create New Dish </button>
            </form>
            
           
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" />
}