


<div class="">
    <div class="intro">
        <h1>Johnnie's Pizzeria</h1>
           
    </div>
   
    <div class="side-by-side-container italian-background">
        <div class="third-width half-height">
        </div>
        <div class="description black-font twothird-width half-height ">
            <h3 id="center">
                Johnnie's Grind
            </h3>
            <p id="center" > Welcome <br/>
                We hope you enjoy our fresh ingredients! 10 years ago we were slinging pizzas out of our cousin Joey's basement!<br/><br/>
                Now we have over 20 pizza parlors in the region! We've got the best menu around! Stop by and 
                try our fresh ingredients today!
            </p>
        </div>
    </div>
   
    <div class="review feat creates-div ">
        <p id="center">
            Would you like to create a new Product?
        </p>
            
            
            <form action="/Product/CreateProduct">
                <button class="creates"> Create New Dish </button>
            </form>
            
           
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" />
}